body{
    margin: 0;
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.Creercompte{
    background-color: #e1eeee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* position: relative;
    top: 40px; */


}


.titre{
    text-align: center;
}

.PasswordView{
    font-size:small;
}

.CheckPass{
    display: flex;
    flex-direction: row;
    flex: -1;
    margin-bottom: 10px;
}

.headerCreer{
    display: flex;
    justify-content: flex-end;

}

.bouttonRetour{
    border: none;
    background-color: #e1eeee;
}