@import url('../../../../font/font.css');

body{
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demandePageFenetre{
    position: absolute;
    top: -120px;
    left: -290px; 
}

.demandePage{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 600px;
    z-index: 1000;
   
}



.corps{
    background-color: #F4F7F7;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.titreFormulaireDemande{
    text-align: center;
}

.bouttonAjoutDemande{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.grandesection{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.piecetexte{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

}

.labelpiece{
    margin-bottom: 2px;
}

.pieceInput{
    border: 1px solid rgb(214, 214, 214);
    background-color: #F2EFEF;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;

}

.page{
    font-family: lora;
    text-align: center;
    margin-top: 10px;
}

.BouttonDemande{
    display: flex;
    flex-direction: row;
    gap: 10px;

}