body{
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login{
    background-color: #e1eeee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 70px;

}

.titrediv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 60px;
    height: 60px;
    border-radius:50%;
}

.formulaireLogin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.linkCreer{
    color: rgb(0, 162, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linkC{
    color: rgb(0, 162, 255);
}

.PasswordView{
    font-size:small;
}

.CheckPass{
    display: flex;
    flex-direction: row;
    flex: -1;
}

.erreur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: -1;
    align-items: center;
    border: #e1eeee solid 1px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;

}
.titreErreur{
    color: red;
    text-align: center;

}

.bouttonErreur{
    border: none;
    background-color: #F4F7F7;

}