body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f7;
}


table {
  margin: 10px auto;
  border-collapse: collapse;
}

table th,
table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.demanderecherche {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  right: 32px;
}
.recherche {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#imageLoupe {
  position: relative;
  top: 26px;
  left: 5px;
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 10px;
}
.rechercheImage {
  display: flex;
  flex-direction: row;
  align-items: center;
}


table {
  border-collapse: collapse;
  width: 70%;
  margin: 2px;
  margin-top: 10px;
}

table td {
  white-space: nowrap;
}

table th,
table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}

.bouttonMS {
  border: none;
  background-color: #f2f2f2;
  margin-left: 5px;
}

.decisionDiv {
  display: flex;
  flex-direction: column;
  background-color: #f4f7f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 100px;
  left: 600px;
}

.backFormulaire {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.confirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Style général pour table et cellule */
.line {
  min-width: 110px;
  word-break: break-word; 
  white-space: normal; 
  overflow-wrap: break-word;
  padding: 8px;
}

.action {
  white-space: nowrap;

}
