body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attestationPage{
 position: relative;
 left: 20px;
}

.formulaireAttestation {
  display: flex;
  flex-direction: column;
  background-color: #f4f7f7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 80px;
  left: 350px;
}

.divisionFormulaire,
.bouttonFormulaire {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bouttonAttestation {
  border: none;
  background-color: #f4f7f7;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.backFormulaire {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.confirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lineDec {
  min-width: 200px;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  padding: 8px;
  text-align: center;
}

.titreTable {
  text-align: center;
}
